@model Department 
@{
    ViewData["Title"] = "Edit";
}
<h1>Edit @Model.Name</h1>

<div asp-validation-summary="All"></div>


<form method="post" asp-action="Edit" asp-controller="Department">

	<div class="form-group">

		<label class="col-form-label" asp-for="Code">Code</label>
		<input class="form-control" asp-for="Code" />
		<span asp-validation-for="Code" class="text-danger"></span>
	</div>

	<div class="form-group">

		<label class="col-form-label" asp-for="Name">Name</label>
		<input class="form-control" asp-for="Name" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>

	<div class="form-group">

		<label class="col-form-label" asp-for="DateOfCreation">DateOfCreation</label>
		<input class="form-control" asp-for="DateOfCreation" />
		<span asp-validation-for="DateOfCreation" class="text-danger"></span>
	</div>

	<button type="submit" value="save" class="btn btn-primary">Save</button>
	<a asp-action="Index" class="btn btn-light">Back To List</a>

</form>

@section ValidationScriptsSection
{
	<partial name="_ValidationScriptsPartial">
}
